.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  
  background-color: #e6f3ff;
  padding: 0px;
  border: 2px solid blue;
  margin: 0px;
  max-width: 100%;        /* не выходить за экран */
  overflow-x: hidden;     /* скрыть лишнее */
  box-sizing: border-box; /* padding внутри ширины */

  /* добавим фон для самой рамки? нет, но можем выделить */
}

.product-link {
  text-decoration: none;
  color: inherit;
  display: block;
  transition: transform 0.2s;
}

.product-link:hover {
  transform: scale(1.01);
}